@import url(https://fonts.google.com/specimen/Spartan);
.grid-container {
  font-family: "Spartan";
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  height: 150vh;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "homepage homepage shopnow shopnow"
    "homepage homepage shopnow shopnow"
    "homepage homepage shopnow shopnow"
    "discussImage aboutpage aboutpage sample";

  .homepage {
    grid-area: homepage;
    background-image: url(../../images/desktop-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .shopnow {
    grid-area: shopnow;
    background-color: hsl(0, 0%, 100%);

    .discover {
      padding: 10% 17% 8% 17%;

      h2 {
        font-size: 40px;
        font-weight: 900;
      }

      p {
        margin-top: -2%;
        font-size: 12px;
        opacity: 70%;
        margin-bottom: 30px;
      }

      .shop {
        display: flex;

        h4 {
          text-align: center;
          margin-top: 1%;
          letter-spacing: 1em;
          opacity: 70%;
          cursor: pointer;
        }

        .MuiSvgIcon-root {
          margin-left: 60px;
          opacity: 70%;
        }
      }
    }
  }
  .discussImage {
    grid-area: discussImage;
    background-image: url(../../images/aboutdark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .aboutpage {
    grid-area: aboutpage;
    font-size: 12px;
    padding-left: 35px;
    background-color: hsl(0, 0%, 100%);

    h3 {
      margin-top: 20%;
      letter-spacing: 5px;
      font-weight: bold;
    }
    p {
      opacity: 70%;
    }
  }
  .sample {
    grid-area: sample;
    background-image: url(../../images/aboutlight.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .discussImage,
  .aboutpage,
  .sample {
    margin-top: -236px;
  }
}

@media only screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas:
      "homepage"
      "shopnow"
      "discussImage"
      "aboutpage"
      "sample";
    grid-gap: 240px;

    .homepage,
    .discussImage,
    .sample {
      background-size: contain;
      height: 150vh;
    }
    .aboutpage {
      // margin-top: ;
    }
  }
}
